<div class="signature remove-all-styles" style="font-family: Arial, Helvetica, sans-serif; color: #333333; line-height: 1.4; max-width: 750px;">

    <div class="first-row clearfix">
        <div class="picture" style="display: inline-block; margin: 20px 20px 20px 0;">
            <img class="profile" src="<%= image %>" style="width:105px; height: 105px;">
        </div>
        
        <div class="left-column" style="display: inline-block; vertical-align: top; height: 105px; border-left: 2px solid <%= colour %>; margin: 20px 0; padding-left: 10px; text-align: left;">
            <div class="info" style="margin-top: 0px;">
                <p style="font-size: 18; font-weight:600; margin: 0; padding: 0 0 0 15px;"><%= name %></p>
                <p style="font-size: 15; margin: 0; padding: 0 0 0 15px;"><%= title %></p>
                <p style="font-size: 13px; margin: 0; padding: 7px 0 0 15px;">P: <%= landline %><%= mNumber %></p>
                <p style="font-size: 13px; margin: 0; padding: 0 0 0 15px;">E: <%= email %><%= edomain %></p>
                <p style="font-size: 13px; margin: 0; padding: 0 0 0 15px;">W: <a href="https://www.<%= domain %>">www.<%= domain %></a></p>
            </div>
        </div>
    </div>
</div>