<div class="signature" id="copy" style="font-family: Arial, Helvetica, sans-serif; color: #333333; line-height: 1.4; max-width: 750px;">

    <div class="first-row clearfix">
        <div class="picture" style="display: inline-block; margin: 20px 20px 20px 0;">
            <img class="profile" src="<%= image %>" style="width:125px; height: 125px;">
        </div>
        
        <div class="left-column" style="display: inline-block; vertical-align: top; height: 125px; border-left: 2px solid <%= colour %>; margin: 20px 0; padding-left: 10px; text-align: left;">
            <div class="info" style="margin-top: 3px;">
                <p style="font-size: 18px; font-weight:600; margin: 0; padding: 0 0 0 15px;"><%= name %></p>
                <p style="font-size: 15px; margin: 0; padding: 0 0 0 15px;"><%= title %></p>
                <p style="font-size: 13px; margin: 0; padding: 7px 0 0 15px;">P: <%= landline %><%= mNumber %></p>
                <p style="font-size: 13px; margin: 0; padding: 0 0 0 15px;">W: <a href="https://www.<%= domain %>">www.<%= domain %></a></p>
                <a href="<%= mapsURL %>"><img style="height:18px; margin: 10px 10px 5px 0;" src="https://drive.google.com/uc?export=view&id=1RP5rz8FxsCEuGp66x1tCouHjfod2U6Xw"></a>
                <a href="<%= facebookURL %>"><img style="height:18px; margin: 10px 10px 5px 15px;" src="https://drive.google.com/uc?export=view&id=1CBfOpGjrHg3f2wM5KCgm1n0-4NSlDLQL"></a>
                <a href="<%= instagramURL %>"><img style="height:18px; margin: 10px 10px 5px 0;" src="https://drive.google.com/uc?export=view&id=1PUQVIx8_pi5WQd-lO_AVJnFNcTGxzyYv"></a>
                <%- include("linkedIn") -%>
            </div>
        </div>
    </div>
    
    <%- include("banners") -%>
    
    <p style="font-size: 13px;">Please note that all personal information in this email is to be handled in accordance with the Privacy Act 1988 (Cth).</p>
</div>
